@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    margin: 0;
    height:95vh;
    width: 100%;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Principal
{
    width: 600px;
    height: 450px;
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    overflow: hidden;

    .ProductImage{
        width: 50%;
        height: 100%;
        img{
            width: 100%;
            height: auto;
        }
    }
    .Content
    {
        width: 50%;
        box-sizing: border-box;
        padding-top: 15px;
        padding-left: 35px;
        padding-right: 40px;
        padding-bottom: 15px;
        font-family: 'Montserrat';
        font-size: 14px;
        color: hsl(228, 12%, 48%);

        h1{
            font-family: Fraunces;
            line-height: 1;
            font-size: 30px;
            color: hsl(212, 21%, 14%);
            padding-bottom: 10px;
        }
        .price{
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            
        }
        .cost{
            font-family: 'Fraunces';
            font-size: 30px;
            font-weight: 800;
            color: hsl(158, 36%, 37%);
            padding-right:15px;
        }

        Button{
            width: 100%;
            height:50px;
            border-radius: 10px;
            border-style: none;
            background-color: hsl(158, 36%, 37%);
            color: white;
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        Button:hover{
            background-color: hsl(158, 36%, 21%);
            cursor: pointer;
        }
    }
}

.attribution{
    position: absolute;
    bottom: 10px;
}

@media (max-width: 600px) {
    body{
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .Principal
    {
        margin: auto;
        width: 90%;
        height: auto;
        flex-direction: column;
    
        .ProductImage{
            width:100%;
            height: auto;
        }
        .Content
        {
            width: 100%;
            box-sizing: border-box;
            padding-top: 15px;
            padding-left: 25px;
            padding-right: 25px;
            padding-bottom: 25px;
    
            h1{
                padding-bottom: 0px;
            }
            .price{
                margin-bottom: 0;
            }
            .cost{
                padding-right:20px;
            }
        }
    }
    
    .attribution{
        position: absolute;
        bottom: 10px;
    }
}